simple-workflow.json
{
  "name": "Simple Ticket Processing",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-processing",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "simple-ticket-webhook",
      "id": "webhook-1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Workflow executed successfully"
            },
            {
              "name": "ticketId",
              "value": "={{$json.ticketId}}"
            },
            {
              "name": "status",
              "value": "Processed"
            }
          ]
        }
      },
      "name": "Process Ticket",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "set-1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "executionId",
              "value": "={{$workflow.executionId}}"
            }
          ]
        }
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "response-1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ticket": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T04:58:00.000Z",
  "updatedAt": "2025-07-18T04:58:00.000Z",
  "settings": {},
  "staticData": null
}
